.button-cordel {
  color: #fff;
  background-color: #030303;
  border-color: #030303;
  display: inline-block;
  font-family: cordelFont;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}

.character > h1{
    font-size: 6vh;
}

.book {
    display: flex;
    align-self: center;
}

#exitButton {
    position: absolute;
    cursor: pointer;
}

#manFull {
    position: absolute;
}

#womanFull {
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .character > h1{
        font-size: 3vh;
    }

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #exitButton {
        bottom: 25%;
        width: 50vw;
        left: 24%;
    }

    #manFull {
        top: 35%;
        left: 20%;
        width: 25vw;
    }

    #womanFull {
        top: 35%;
        right: 25%;
        width: 20vw;
    }
}


@media only screen and (min-width: 600px) {
    .character > h1{
        font-size: 5vh;
    }

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #exitButton {
        bottom: 22%;
        width: 40vw;
        left: 27%;
    }

    #manFull {
        top: 37%;
        left: 22%;
        width: 20vw;
    }

    #womanFull {
        top: 37%;
        right: 26%;
        width: 17vw;
    }
}


@media only screen and (min-width: 768px) {
    .character > h1{
        font-size: 5vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 4%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    .book {
        margin-top: 8vh;
    }

    #manFull {
        top: 40%;
        left: 24%;
        width: 18vw;
    }

    #womanFull {
        top: 40%;
        right: 27%;
        width: 15vw;
    }

    #exitButton {
        bottom: 20%;
        width: 40vw;
        left: 28%;
    }
}


@media only screen and (min-width: 992px) {
    .character > h1 {
        font-size: 6vh;
    }

    #exitButton {
        width: 30vw;
        left: 33%;
        bottom: 12%;
    }

    .book > img {
        height: 40vh;
    }

    .book {
        margin-top: 2vh;
    }
}


@media only screen and (min-width: 1200px) {
    .book > img {
        height: 45vh;
        width: 60vw;
    }

    #exitButton {
        width: 20vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manFull {
        left: 27%;
        width: 18vw;
    }

    #womanFull {
        right: 30%;
    }

}

@media only screen and (min-width: 1400px) {
    .book > img {
        height: 45vh;
        width: 40vw;
    }

    .book {
        margin-top: 5vh;
    }
    .character {
        margin-top: 5vh;
    }

    #exitButton {
        width: 15vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manFull {
        left: 35%;
        width: 12vw;
        top: 30%;
    }

    #womanFull {
        right: 37%;
        width: 10vw;
        top: 31%;
    }
}
