.history-box {
    margin-left: 15%;
    margin-top: 6%;
}

.hBox {
    position: absolute;
    overflow:scroll;
    overflow-x: hidden;
    padding: 20px;
    width:395px; 
    height:380px;
    top: 31%;
    left: 15.5%;
}

.history-box > h1 {
    text-align: initial;
}

.fish-container {
    float: right;
    margin-top: 5%;
}

.frame-container {
    float: left;
}

#SeaWeed {
    display: block;
}

.arrow-buttons-container {
    position: absolute;
    
}

.arrow-buttons-container > img {
    /* margin-right: 10%; */
}

#inverse-arrow {
    transform: scaleX(-1);
    margin-left: 20vw;
}
@media only screen and (min-width: 400px) {
    
    .history-box {
        margin-top: 21%;
    }

    .history-box > h1 {
        font-size: 2vh;
    }

    .frame-container {
        width: 45%;
    }

    .frame-container > img {
       height: 20vh;
        width: 29vw;
    }

    .arrow-buttons-container > img {
        width: 15%;
    }

    .fish-container > img{
         height: 30vh;
        width: 29vw;
    }

    .fish-container {
        width: 40%;
    }

    .SeaWeed > img{
        width: 28%;
    }

    .fish-container {
        width: 55%;
    }
} 

@media only screen and (min-width: 600px) {
    
    .history-box {
        margin-top: 20%;
    }

    .history-box > h1 {
        font-size: 2vh;
    }

    .frame-container {
        width: 45%;
    }

    .frame-container > img {
       height: 20vh;
        width: 29vw;
    }

    .arrow-buttons-container > img {
        width: 15%;
    }

    .fish-container > img{
         height: 30vh;
        width: 29vw;
    }

    .fish-container {
        width: 40%;
    }
    .SeaWeed > img{
        width: 28%;
    }

    .fish-container {
        width: 55%;
    }
} 

@media only screen and (min-width: 768px) {
    
    .history-box {
        margin-top: 16%;
    }

    .history-box > h1 {
        font-size: 2vh;
    }

    .frame-container {
        width: 45%;
    }

    .frame-container > img {
       height: 20vh;
        width: 29vw;
    }

    .arrow-buttons-container > img {
        width: 15%;
    }

    .fish-container > img{
         height: 30vh;
        width: 29vw;
    }

    .fish-container {
        width: 40%;
    }

    .SeaWeed > img{
        width: 28%;
    }

    .fish-container {
        width: 55%;
    }
} 

@media only screen and (min-width: 992px) {
    
    .history-box {
        margin-top: 18%;
    }

    .history-box > h1 {
        font-size: 2vh;
    }

    .frame-container {
        width: 45%;
    }

    .frame-container > img {
       height: 30vh;
        width: 29vw;
    }

    .arrow-buttons-container > img {
        width: 15%;
    }

    .fish-container > img{
         height: 20vh;
        width: 29vw;
    }

    .fish-container {
        width: 40%;
    }
    .SeaWeed > img{
        width: 28%;
    }

    .fish-container {
        width: 55%;
    }
} 



@media only screen and (min-width: 1200px) {
    .history-box {
        margin-top: 7%;
    }

    .frame-container {
        width: 38%;
        margin-bottom: 40px;
    }

    .history-box > h1 {
        font-size: 4.5rem;
    }

    .frame-container {
        width: 45%;
    }
    .frame-container > img {
        height: 400px;
    }

    .arrow-buttons-container > img {
        width: 15%;
        
    }

}
