.character > h1{
    font-size: 6vh;
}

.book {
    display: flex;
    align-self: center;
}

#progressButton {
    position: absolute;
    cursor: pointer;
}

#manCharacter {
    position: absolute;
}

#womanCharacter {
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .character > h1{
        font-size: 3vh;
    } 
 .character > h2{
        font-size: 3vh;
    }    

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #progressButton {
        bottom: 25%;
        width: 50vw;
        left: 24%;
    }

    #manCharacter {
        top: 35%;
        left: 20%;
        width: 25vw;

    }
   
    #womanCharacter {
        top: 35%;
        right: 25%;
        width: 20vw;
    }
    #manCharacterName {
        top: 57%;
        left: 20%;
        width: 25vw;
        position: fixed;
     }

     #womanCharacterName {
       top: 57%;
        right: 25%;
        width: 20vw;
        position: fixed;
    }
} 


@media only screen and (min-width: 600px) {
    .character > h1{
        font-size: 5vh;
    }   
   .character > h2{
        font-size: 3vh;
    }  

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #progressButton {
        bottom: 22%;
        width: 40vw;
        left: 27%;
    }

    #manCharacter {
        top: 39%;
        left: 22%;
        width: 18vw;
    }

    #womanCharacter {
        top: 39%;
        right: 26%;
        width: 17vw;
    }

      #manCharacterName {
        top: 57%;
        left: 22%;
        width: 25vw;
        position: fixed;
     }

     #womanCharacterName {
        top: 57%;
        right: 20%;
        width: 20vw;
        position: fixed;
    }
} 


@media only screen and (min-width: 768px) {
    .character > h1{
        font-size: 5vh;
    }
  .character > h2{
        font-size: 3vh;
    } 

    .character {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 4%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    .book {
        margin-top: 8vh;
    }

    #manCharacter {
        top: 41%;
        left: 24%;
        width: 15vw;
    }

    #womanCharacter {
        top: 41%;
        right: 27%;
        width: 13vw;
    }

    #manCharacterName {
        top: 60%;
        left: 23%;
        width: 20vw;
        position: fixed;
     }

     #womanCharacterName {
        top: 60%;
        right: 20%;
        width: 20vw;
        position: fixed;
    }

    #progressButton {
        bottom: 20%;
        width: 40vw;
        left: 28%;
    }
} 


@media only screen and (min-width: 992px) {
    .character > h1 {
        font-size: 6vh;
    }
  .character > h2{
        font-size: 3vh;
    }   

    #progressButton {
        width: 30vw;
        left: 33%;
        bottom: 12%;
    }

    .book > img {
        height: 40vh;
    }

    .book { 
        margin-top: 2vh;
    }

} 


@media only screen and (min-width: 1200px) {
	.character > h2{
        font-size: 3vh;
    }   
    .book > img {
        height: 45vh;
        width: 60vw;
    }

    #progressButton {
        width: 20vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manCharacter {
        left: 27%;
        width: 16vw;
	top: 33%;
    }

    #womanCharacter {
        right: 32%;
	top: 33%;
    }
   #manCharacterName {
        top: 62%;
        left: 23%;
        width: 25vw;
        position: fixed;
     }

     #womanCharacterName {
        top: 62%;
        right: 28%;
        width: 20vw;
        position: fixed;
    }

}

@media only screen and (min-width: 1400px) {
    .book > img {
        height: 45vh;
        width: 40vw;
    }

    .book {
        margin-top: 5vh;
    }
    .character {
        margin-top: 5vh;
    }

    #progressButton {
        width: 15vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manCharacter {
        left: 35%;
        width: 12vw;
        top: 30%;
    }

    #womanCharacter {
        right: 37%;
        width: 10vw;
        top: 31%;
    }
   #manCharacterName {
        top: 60%;
        left: 28%;
        width: 25vw;
        position: fixed;
     }

     #womanCharacterName {
       top: 60%;
        right: 32%;
        width: 20vw;
        position: fixed;
    }

@media only screen and (max-height: 500px){

 #manCharacterName {
        top: 78%;
        left: 28%;
        width: 25vw;
        position: fixed;
      }

     #womanCharacterName {
       top: 78%;
        right: 32%;
        width: 20vw;
        position: fixed;
     }



  }


@media only screen and (max-height: 400px){

 #manCharacterName {
        top: 85%;
        left: 28%;
        width: 25vw;
        position: fixed;
      }

     #womanCharacterName {
       top: 85%;
        right: 32%;
        width: 20vw;
        position: fixed;
     }



  }
}
