.character > h1{
    font-size: 6vh;
}

.book {
    display: flex;
    align-self: center;
}

#progressButton {
    position: absolute;
    cursor: pointer;
}

#manCharacter {
    position: absolute;
}

#womanCharacter {
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .character > h1{
        font-size: 3vh;
    }    

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #progressButton {
        bottom: 25%;
        width: 50vw;
        left: 24%;
    }

    #manCharacter {
        top: 35%;
        left: 20%;
        width: 25vw;
    }

    #womanCharacter {
        top: 35%;
        right: 25%;
        width: 20vw;
    }
} 


@media only screen and (min-width: 600px) {
    .character > h1{
        font-size: 5vh;
    }    

    .book {
        margin-top: 10vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    #progressButton {
        bottom: 22%;
        width: 40vw;
        left: 27%;
    }

    #manCharacter {
        top: 37%;
        left: 22%;
        width: 20vw;
    }

    #womanCharacter {
        top: 37%;
        right: 26%;
        width: 17vw;
    }
} 


@media only screen and (min-width: 768px) {
    .character > h1{
        font-size: 5vh;
    }

    .character {
        padding-left: 6%;
        padding-right: 6%;
        padding-top: 4%;
    }

    .book > img {
        height: 30vh;
        width: 75vw;
    }

    .book {
        margin-top: 8vh;
    }

    #manCharacter {
        top: 40%;
        left: 24%;
        width: 18vw;
    }

    #womanCharacter {
        top: 40%;
        right: 27%;
        width: 15vw;
    }

    #progressButton {
        bottom: 20%;
        width: 40vw;
        left: 28%;
    }
} 


@media only screen and (min-width: 992px) {
    .character > h1 {
        font-size: 6vh;
    }

    #progressButton {
        width: 30vw;
        left: 33%;
        bottom: 12%;
    }

    .book > img {
        height: 40vh;
    }

    .book { 
        margin-top: 2vh;
    }
} 


@media only screen and (min-width: 1200px) {
    .book > img {
        height: 45vh;
        width: 60vw;
    }

    #progressButton {
        width: 20vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manCharacter {
        left: 27%;
        width: 18vw;
    }

    #womanCharacter {
        right: 30%;
    }

}

@media only screen and (min-width: 1400px) {
    .book > img {
        height: 45vh;
        width: 40vw;
    }

    .book {
        margin-top: 5vh;
    }
    .character {
        margin-top: 5vh;
    }

    #progressButton {
        width: 15vw !important;
        bottom: 11% !important;
        left: 70%;
    }

    #manCharacter {
        left: 35%;
        width: 12vw;
        top: 30%;
    }

    #womanCharacter {
        right: 37%;
        width: 10vw;
        top: 31%;
    }
}