.exemplo {
    background-image: url('../../images/FRAME DAS TELAS.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

p {
    font-family: "cordelEncantado";
}

.BoxCordelExample {
    position: absolute;
    overflow:scroll;
    width:400px; 
    height:400px;
    padding: 30px;
    top: 20%;
    left: 57%;
}

.exampletitle {
    position: absolute;
    margin-top: 5%;
    left: 7%;
}
.titulocordel {
    position: absolute;
    top: 25%;
    left: 19%;
}


.button1 {
    position: absolute;
    top: 82%;
    right: 80%;
}

.button2 {
	position: absolute;
    top: 82%;
    right: 10%;
 }

#cachorro {
    height: 42vh;
    position: absolute;
    top: 33%;
    left: 23%;
}

#selo {
    height: 72vh;
    position: absolute;
    top: 10%;
    left: 53%;
}
