.main {
    background-image: url('../../images/FRAME DAS TELAS.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-size: 70%;
    display: flex;
    flex-direction: column-reverse;
}

.persons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    display: flex;
    justify-content: space-around;
}

.menu {
    flex-wrap: wrap;
    flex-direction: column;
    align-self: center;
}

.menu > div > img {
    width: 300px;
    margin-bottom: 5%;
}

.title > img {
    width: 200px;
    height: 200px;
}

.persons > img {
    width: 500px;
}

h2 {
    align-self: center;
}
@media only screen and (max-width: 600px) {
    .main {
        background-size: 100% 100%;
    }
} 
@media only screen and (min-width: 600px) {
    .main {
        background-size: 100% 100%;
    }   
} 
