.main {
    background-image: url('../../images/FRAME DAS TELAS.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.people {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title {
    align-self: center;
    flex-direction: column;
    margin-top: 5%;
}

.menu {
    margin-top: 10%;
    z-index: 0;
}


h1 {
    font-family: "cordelFont";
    font-size: 13vh;
    text-align: center;
}

h2 {
    font-family: "cordelFont";
    font-size: 10vh;
    text-align: center;
    cursor: pointer;
}

#peopleRight{
    height: 65vh;
    position: absolute;
    bottom: 0;
    right: 0;
}

#peopleLeft {
    height: 62vh;
    position: absolute;
    bottom: 7%;
    z-index: 4;
}

#moon {
    position: absolute;
    top: 22%;
    left: 22%;
    height: 15vh;
}

#star-animation {
    position: absolute;
    top: 12%;
    right: 22%;
    height: 15vh;
}

#star{
    position: absolute;
    top: 30%;
    right: 33%;
    height: 8vh;
}

#last-star{
    position: absolute;
    top: 42%;
    left: 43%;
    height: 6vh;
}



@media only screen and (max-width: 600px) {
    h1 {
        font-size: 6vh;
    }

    .title{
        margin-top: 25%;
    }

    #peopleLeft{
        height: 25vh;
    }

    #peopleRight{
        height: 35vh;
        width: 40vw;
    }

    h2{
        font-size: 4vh;
    }

    .menu {
        margin-top: 32%;
    }

    #moon {
        left: 7%;
        height: 10vh;
    }

    #star-animation {
        top: 22%;
        right: 11%;
        height: 7vh;
    }
} 

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 7vh;
    }

    .title{
        margin-top: 15%;
    }
 
    #peopleLeft{
        height: 25vh;
    }

    #peopleRight{
        height: 35vh;
        width: 40vw;
    }
    h2{
        font-size: 5vh;
    }

    .menu {
        margin-top: 20%;
    }

    #moon {
        left: 9%;
        height: 10vh;
    }

    #star-animation {
        top: 22%;
        right: 11%;
        height: 7vh;
    }

    #star {
        top: 35%;
    }
} 


@media only screen and (min-width: 768px) {
    .menu {
        margin-top: 13%;
    }

    #moon {
        height: 10vh;
        top: 22%;
    }

    #star-animation {
        top: 23%;
        right: 17%;
    }

    .title {
        margin-top: 13%;    
    }

    #star{
        top: 38%;
    }

    h1 {
        font-size: 9vh;
    }

    #peopleLeft {
        height: 32vh;
    }

    #peopleRight {
        height: 40vh;
    }
} 


@media only screen and (min-width: 992px) {
    .menu {
        margin-top: 12%;
    }

    #moon {
        left: 20%;
        height: 20vh;
    }

    #star-animation {
        right: 25%;
    }

    .title {
        margin-top: 10%;    
    }

    #peopleRight {
        width: 37vw;
    }

    h2 {
        font-size: 7vh;
    }
    
    h1 {
        font-size: 10vh;
    }
} 


@media only screen and (min-width: 1200px) {
    #peopleLeft {
        height: 40vh;
    }

    #peopleRight {
        height: 50vh;
    }

    .title{
        margin-top: 7%;
    }

    .menu {
        margin-top: 10%;
    }

    h2 {
        font-size: 7vh;
    }

    h1 {
        font-size: 10vh;
    }

    #moon {
        height: 20vh;
    }

    #star-animation {
        height: 10vh;
    }
}

@media only screen and (min-width: 1400px) {
    #peopleLeft {
        height: 50vh;
    }

    #peopleRight {
        height: 60vh;
    }

    .title{
        margin-top: 7%;
    }

    .menu {
        margin-top: 7%;
    }

    h2{
        font-size: 6vh;
    }

    h1 {
        font-size: 12vh;
    }

    #star {
        top: 38%;
    }
}